
# Accessing Data within Pandas - Lab

## Introduction

In this lab, we'll look at a data set which contains information World cup matches. Let's use the pandas commands learned in the previous lecture to learn more about our data!

## Objectives
You will be able to:
* Understand and explain some key Pandas methods
* Access DataFrame data by using the label
* Perform boolean indexing on both Series and DataFrames
* Use simple selectors for series
* Set new Series and DataFrame inputs

## Load the data

Load the file `WorldCupMatches.csv` as a dataframe in Pandas

In [1]:
import pandas as pd

## Common methods and attributes

In [2]:
df=pd.read_csv('WorldCupMatches.csv')

Use the correct method to look at the first 7 rows of the data set.

In [3]:
df.head(7)

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,4444.0,3.0,0.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.0,1096.0,FRA,MEX
1,1930.0,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,,18346.0,2.0,0.0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.0,1090.0,USA,BEL
2,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.0,1093.0,YUG,BRA
3,1930.0,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,,2549.0,1.0,0.0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.0,1098.0,ROU,PER
4,1930.0,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,,23409.0,0.0,0.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.0,1085.0,ARG,FRA
5,1930.0,16 Jul 1930 - 14:45,Group 1,Parque Central,Montevideo,Chile,3.0,0.0,Mexico,,9249.0,1.0,0.0,CRISTOPHE Henry (BEL),APHESTEGUY Martin (URU),LANGENUS Jean (BEL),201.0,1095.0,CHI,MEX
6,1930.0,17 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,4.0,0.0,Bolivia,,18306.0,0.0,0.0,MATEUCCI Francisco (URU),LOMBARDI Domingo (URU),WARNKEN Alberto (CHI),201.0,1092.0,YUG,BOL

Look at the last 3 rows of the data set.

In [4]:
df.tail(3)

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
4569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Get a concise summary of your data using `.info()`

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4572 entries, 0 to 4571
Data columns (total 20 columns):
Year                    852 non-null float64
Datetime                852 non-null object
Stage                   852 non-null object
Stadium                 852 non-null object
City                    852 non-null object
Home Team Name          852 non-null object
Home Team Goals         852 non-null float64
Away Team Goals         852 non-null float64
Away Team Name          852 non-null object
Win conditions          852 non-null object
Attendance              850 non-null float64
Half-time Home Goals    852 non-null float64
Half-time Away Goals    852 non-null float64
Referee                 852 non-null object
Assistant 1             852 non-null object
Assistant 2             852 non-null object
RoundID                 852 non-null float64
MatchID                 852 non-null float64
Home Team Initials      852 non-null object
Away Team Initials      852 non-null object
dtypes: float64(8), object(12)
memory usage: 714.5+ KB

Obtain a tuple representing the number of rows and number of columns

In [6]:
df.shape #4572rowsand20columns

(4572, 20)

Use the appropriate attribute to get the column names

In [7]:
df.columns

Index(['Year', 'Datetime', 'Stage', 'Stadium', 'City', 'Home Team Name',
       'Home Team Goals', 'Away Team Goals', 'Away Team Name',
       'Win conditions', 'Attendance', 'Half-time Home Goals',
       'Half-time Away Goals', 'Referee', 'Assistant 1', 'Assistant 2',
       'RoundID', 'MatchID', 'Home Team Initials', 'Away Team Initials'],
      dtype='object')

## Selecting dataframe information

When looking at the dataframe's `.head()`, you might have noticed that the games are structured chronologically in the dataframe.

Use the right selection method to print all the information from the 3rd to the 5th game.

In [8]:
df.iloc[3:6]

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
3,1930.0,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,,2549.0,1.0,0.0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.0,1098.0,ROU,PER
4,1930.0,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,,23409.0,0.0,0.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.0,1085.0,ARG,FRA
5,1930.0,16 Jul 1930 - 14:45,Group 1,Parque Central,Montevideo,Chile,3.0,0.0,Mexico,,9249.0,1.0,0.0,CRISTOPHE Henry (BEL),APHESTEGUY Martin (URU),LANGENUS Jean (BEL),201.0,1095.0,CHI,MEX

Now, print all the info from game 5-9, but we're only interested to print out the "Home Team Name" and the "Away Team Name",

In [12]:
df.loc[5:10,['Home Team Name','Away Team Name']]

   Home Team Name Away Team Name
5           Chile         Mexico
6      Yugoslavia        Bolivia
7             USA       Paraguay
8         Uruguay           Peru
9           Chile         France
10      Argentina         Mexico

Next, we'd like the information on all the games played in Group 3 for the 1950 World Cup.

In [15]:
df.loc[(df["Year"]==1950)& (df["Stage"]=="Group 3")]

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
56,1950.0,25 Jun 1950 - 15:00,Group 3,Pacaembu,Sao Paulo,Sweden,3.0,2.0,Italy,,36502.0,2.0,1.0,LUTZ Jean (SUI),BERANEK Alois (AUT),TEJADA Carlos (MEX),208.0,1219.0,SWE,ITA
61,1950.0,29 Jun 1950 - 15:30,Group 3,Durival de Brito,Curitiba,Sweden,2.0,2.0,Paraguay,,7903.0,2.0,1.0,MITCHELL Robert (SCO),LEMESIC Leo (YUG),GARCIA Prudencio (USA),208.0,1228.0,SWE,PAR
65,1950.0,02 Jul 1950 - 15:00,Group 3,Pacaembu,Sao Paulo,Italy,2.0,0.0,Paraguay,,25811.0,1.0,0.0,ELLIS Arthur (ENG),GARCIA Prudencio (USA),DE LA SALLE Charles (FRA),208.0,1218.0,ITA,PAR

Let's repeat the command above, but now we only want to print out the attendance colum for the Group 3 games

You can combine conditions like this:

`df[(condition1) | (condition2)]`  -> Returns rows where either condition is true

`df[(condition1) & (condition2)]`  -> Returns rows where both conditions are true

In [16]:
df.loc[(df["Year"]==1950)& (df["Stage"]=="Group 3"),"Attendance"]

56    36502.0
61     7903.0
65    25811.0
Name: Attendance, dtype: float64

Throughout the entire history of the world cup, How many Home games were played by the Netherlands?

In [33]:
print(len(df.loc[df["Away Team Name"]==('Netherlands')]))
print(len(df.loc[df["Home Team Name"]==('Netherlands')]))
#54games

22
32

How many games were playes by the Netherlands in total?

In [21]:
print(len(df.loc[df["Home Team Name"]==('Netherlands')]))

32

Next, let's try and figure out how many games the USA played in the 2014 world cup.

In [41]:
USA2014= df[(df.Year==2014)
    & ((df["Home Team Name"]=='USA')|(df["Away Team Name"]=='USA'))
        ]
print(len(USA2014))

5

Now, let's try to find out how many countries participated in the 1986 world cup.

Hint 1: as a first step, create a new data set that only contain games in that year.

Hint 2: You can use `.unique()` to make sure you don't end up with duplicate country names.

In [44]:
countries1986=df[df.Year==1986]
home=list(countries1986['Home Team Name'].unique())
away=list(countries1986['Away Team Name'].unique())
print(len(home))
print(len(away))

24
24

In the world cup history, how matches had more than 5 goals in total?

In [45]:
df['Total_Goals']=df["Home Team Goals"]+df['Away Team Goals']
print(len(df[df.Total_Goals>=5]))

147

## Changing values and creating new columns

With the information you currently have in your `df`, create a new column "Half-time Goals".

In [46]:
df["Half-time Goals"]=df["Half-time Home Goals"]+df["Half-time Away Goals"]

Run the code below. You'll notice that for Korea, there are records for both North-Korea (Korea DPR) and South-Korea (Korea Republic).

In [49]:
df.loc[df["Home Team Name"].str.contains('Korea'), "Home Team Name" ] #Im not sure why this doesn't work

ValueError: cannot index with vector containing NA / NaN values

Imagine that for some reason, we simply want Korea listed as one entry, so we want to replace every "Home Team Name" and "Away Team Name" entry that contains "Korea" to simply "Korea". In the same way, we want to change the columns "Home Team Initials" and "Away Team Initials" to NSK (North & South Korea) instead of "KOR" and "PRK".

In [50]:
df.loc[df["Home Team Name"] == "Korea DPR", "Home Team Name"] = "Korea"
df.loc[df["Home Team Name"] == "Korea Republic", "Home Team Name"] = "Korea"
df.loc[df["Away Team Name"] == "Korea DPR", "Away Team Name"] = "Korea"
df.loc[df["Away Team Name"] == "Korea Republic", "Away Team Name"] = "Korea"
df.loc[df["Home Team Initials"] == "KOR", "Home Team Initials"] = "NSK"
df.loc[df["Home Team Initials"] == "KOR", "Home Team Initials"] = "NSK"
df.loc[df["Away Team Initials"] == "PRK", "Away Team Initials"] = "NSK"
df.loc[df["Away Team Initials"] == "PRK", "Away Team Initials"] = "NSK"

Make sure to verify your answer!

In [53]:
df.loc[df["Home Team Name"].str.contains('Korea')]

ValueError: cannot index with vector containing NA / NaN values

<bound method DataFrame.dropna of         Year              Datetime              Stage  \
0     1930.0  13 Jul 1930 - 15:00             Group 1
1     1930.0  13 Jul 1930 - 15:00             Group 4
2     1930.0  14 Jul 1930 - 12:45             Group 2
3     1930.0  14 Jul 1930 - 14:50             Group 3
4     1930.0  15 Jul 1930 - 16:00             Group 1
5     1930.0  16 Jul 1930 - 14:45             Group 1
6     1930.0  17 Jul 1930 - 12:45             Group 2
7     1930.0  17 Jul 1930 - 14:45             Group 4
8     1930.0  18 Jul 1930 - 14:30             Group 3
9     1930.0  19 Jul 1930 - 12:50             Group 1
10    1930.0  19 Jul 1930 - 15:00             Group 1
11    1930.0  20 Jul 1930 - 13:00             Group 2
12    1930.0  20 Jul 1930 - 15:00             Group 4
13    1930.0  21 Jul 1930 - 14:50             Group 3
14    1930.0  22 Jul 1930 - 14:45             Group 1
15    1930.0  26 Jul 1930 - 14:45         Semi-finals
16    1930.0  27 Jul 1930 - 14:45         Semi-finals
17    1930.0  30 Jul 1930 - 14:15               Final
18    1934.0  27 May 1934 - 16:30   Preliminary round
19    1934.0  27 May 1934 - 16:30   Preliminary round
20    1934.0  27 May 1934 - 16:30   Preliminary round
21    1934.0  27 May 1934 - 16:30   Preliminary round
22    1934.0  27 May 1934 - 16:30   Preliminary round
23    1934.0  27 May 1934 - 16:30   Preliminary round
24    1934.0  27 May 1934 - 16:30   Preliminary round
25    1934.0  27 May 1934 - 16:30   Preliminary round
26    1934.0  31 May 1934 - 16:30      Quarter-finals
27    1934.0  31 May 1934 - 16:30      Quarter-finals
28    1934.0  31 May 1934 - 16:30      Quarter-finals
29    1934.0  31 May 1934 - 16:30      Quarter-finals
...      ...                   ...                ...
4542     NaN                   NaN                NaN
4543     NaN                   NaN                NaN
4544     NaN                   NaN                NaN
4545     NaN                   NaN                NaN
4546     NaN                   NaN                NaN
4547     NaN                   NaN                NaN
4548     NaN                   NaN                NaN
4549     NaN                   NaN                NaN
4550     NaN                   NaN                NaN
4551     NaN                   NaN                NaN
4552     NaN                   NaN                NaN
4553     NaN                   NaN                NaN
4554     NaN                   NaN                NaN
4555     NaN                   NaN                NaN
4556     NaN                   NaN                NaN
4557     NaN                   NaN                NaN
4558     NaN                   NaN                NaN
4559     NaN                   NaN                NaN
4560     NaN                   NaN                NaN
4561     NaN                   NaN                NaN
4562     NaN                   NaN                NaN
4563     NaN                   NaN                NaN
4564     NaN                   NaN                NaN
4565     NaN                   NaN                NaN
4566     NaN                   NaN                NaN
4567     NaN                   NaN                NaN
4568     NaN                   NaN                NaN
4569     NaN                   NaN                NaN
4570     NaN                   NaN                NaN
4571     NaN                   NaN                NaN

                      Stadium         City  Home Team Name  Home Team Goals  \
0                     Pocitos  Montevideo           France              4.0
1              Parque Central  Montevideo              USA              3.0
2              Parque Central  Montevideo       Yugoslavia              2.0
3                     Pocitos  Montevideo          Romania              3.0
4              Parque Central  Montevideo        Argentina              1.0
5              Parque Central  Montevideo            Chile              3.0
6              Parque Central  Montevideo       Yugoslavia              4.0
7              Parque Central  Montevideo              USA              3.0
8          Estadio Centenario  Montevideo          Uruguay              1.0
9          Estadio Centenario  Montevideo            Chile              1.0
10         Estadio Centenario  Montevideo        Argentina              6.0
11         Estadio Centenario  Montevideo           Brazil              4.0
12         Estadio Centenario  Montevideo         Paraguay              1.0
13         Estadio Centenario  Montevideo          Uruguay              4.0
14         Estadio Centenario  Montevideo        Argentina              3.0
15         Estadio Centenario  Montevideo        Argentina              6.0
16         Estadio Centenario  Montevideo          Uruguay              6.0
17         Estadio Centenario  Montevideo          Uruguay              4.0
18    Stadio Benito Mussolini       Turin          Austria              3.0
19          Giorgio Ascarelli      Naples          Hungary              4.0
20                   San Siro       Milan      Switzerland              3.0
21                  Littorale     Bologna           Sweden              3.0
22             Giovanni Berta    Florence          Germany              5.0
23             Luigi Ferraris       Genoa            Spain              3.0
24              Nazionale PNF        Rome            Italy              7.0
25                   Littorio     Trieste   Czechoslovakia              2.0
26    Stadio Benito Mussolini       Turin   Czechoslovakia              3.0
27                   San Siro       Milan          Germany              2.0
28             Giovanni Berta    Florence            Italy              1.0
29                  Littorale     Bologna          Austria              2.0
...                       ...          ...             ...              ...
4542                      NaN          NaN             NaN              NaN
4543                      NaN          NaN             NaN              NaN
4544                      NaN          NaN             NaN              NaN
4545                      NaN          NaN             NaN              NaN
4546                      NaN          NaN             NaN              NaN
4547                      NaN          NaN             NaN              NaN
4548                      NaN          NaN             NaN              NaN
4549                      NaN          NaN             NaN              NaN
4550                      NaN          NaN             NaN              NaN
4551                      NaN          NaN             NaN              NaN
4552                      NaN          NaN             NaN              NaN
4553                      NaN          NaN             NaN              NaN
4554                      NaN          NaN             NaN              NaN
4555                      NaN          NaN             NaN              NaN
4556                      NaN          NaN             NaN              NaN
4557                      NaN          NaN             NaN              NaN
4558                      NaN          NaN             NaN              NaN
4559                      NaN          NaN             NaN              NaN
4560                      NaN          NaN             NaN              NaN
4561                      NaN          NaN             NaN              NaN
4562                      NaN          NaN             NaN              NaN
4563                      NaN          NaN             NaN              NaN
4564                      NaN          NaN             NaN              NaN
4565                      NaN          NaN             NaN              NaN
4566                      NaN          NaN             NaN              NaN
4567                      NaN          NaN             NaN              NaN
4568                      NaN          NaN             NaN              NaN
4569                      NaN          NaN             NaN              NaN
4570                      NaN          NaN             NaN              NaN
4571                      NaN          NaN             NaN              NaN

      Away Team Goals Away Team Name                 Win conditions  \
0                 1.0         Mexico
1                 0.0        Belgium
2                 1.0         Brazil
3                 1.0           Peru
4                 0.0         France
5                 0.0         Mexico
6                 0.0        Bolivia
7                 0.0       Paraguay
8                 0.0           Peru
9                 0.0         France
10                3.0         Mexico
11                0.0        Bolivia
12                0.0        Belgium
13                0.0        Romania
14                1.0          Chile
15                1.0            USA
16                1.0     Yugoslavia
17                2.0      Argentina
18                2.0         France  Austria win after extra time
19                2.0          Egypt
20                2.0    Netherlands
21                2.0      Argentina
22                2.0        Belgium
23                1.0         Brazil
24                1.0            USA
25                1.0        Romania
26                2.0    Switzerland
27                1.0         Sweden
28                1.0          Spain
29                1.0        Hungary
...               ...            ...                            ...
4542              NaN            NaN                            NaN
4543              NaN            NaN                            NaN
4544              NaN            NaN                            NaN
4545              NaN            NaN                            NaN
4546              NaN            NaN                            NaN
4547              NaN            NaN                            NaN
4548              NaN            NaN                            NaN
4549              NaN            NaN                            NaN
4550              NaN            NaN                            NaN
4551              NaN            NaN                            NaN
4552              NaN            NaN                            NaN
4553              NaN            NaN                            NaN
4554              NaN            NaN                            NaN
4555              NaN            NaN                            NaN
4556              NaN            NaN                            NaN
4557              NaN            NaN                            NaN
4558              NaN            NaN                            NaN
4559              NaN            NaN                            NaN
4560              NaN            NaN                            NaN
4561              NaN            NaN                            NaN
4562              NaN            NaN                            NaN
4563              NaN            NaN                            NaN
4564              NaN            NaN                            NaN
4565              NaN            NaN                            NaN
4566              NaN            NaN                            NaN
4567              NaN            NaN                            NaN
4568              NaN            NaN                            NaN
4569              NaN            NaN                            NaN
4570              NaN            NaN                            NaN
4571              NaN            NaN                            NaN

           ...        Half-time Away Goals                     Referee  \
0          ...                         0.0      LOMBARDI Domingo (URU)
1          ...                         0.0           MACIAS Jose (ARG)
2          ...                         0.0         TEJADA Anibal (URU)
3          ...                         0.0       WARNKEN Alberto (CHI)
4          ...                         0.0         REGO Gilberto (BRA)
5          ...                         0.0       CRISTOPHE Henry (BEL)
6          ...                         0.0    MATEUCCI Francisco (URU)
7          ...                         0.0           MACIAS Jose (ARG)
8          ...                         0.0         LANGENUS Jean (BEL)
9          ...                         0.0         TEJADA Anibal (URU)
10         ...                         1.0        SAUCEDO Ulises (BOL)
11         ...                         0.0         BALWAY Thomas (FRA)
12         ...                         0.0     VALLARINO Ricardo (URU)
13         ...                         0.0         REGO Gilberto (BRA)
14         ...                         1.0         LANGENUS Jean (BEL)
15         ...                         0.0         LANGENUS Jean (BEL)
16         ...                         1.0         REGO Gilberto (BRA)
17         ...                         2.0         LANGENUS Jean (BEL)
18         ...                         0.0  VAN MOORSEL Johannes (NED)
19         ...                         2.0    BARLASSINA Rinaldo (ITA)
20         ...                         1.0           EKLIND Ivan (SWE)
21         ...                         1.0           BRAUN Eugen (AUT)
22         ...                         2.0      MATTEA Francesco (ITA)
23         ...                         0.0         BIRLEM Alfred (GER)
24         ...                         0.0           MERCET Rene (SUI)
25         ...                         1.0         LANGENUS Jean (BEL)
26         ...                         1.0         BERANEK Alois (AUT)
27         ...                         0.0    BARLASSINA Rinaldo (ITA)
28         ...                         0.0           BAERT Louis (BEL)
29         ...                         0.0      MATTEA Francesco (ITA)
...        ...                         ...                         ...
4542       ...                         NaN                         NaN
4543       ...                         NaN                         NaN
4544       ...                         NaN                         NaN
4545       ...                         NaN                         NaN
4546       ...                         NaN                         NaN
4547       ...                         NaN                         NaN
4548       ...                         NaN                         NaN
4549       ...                         NaN                         NaN
4550       ...                         NaN                         NaN
4551       ...                         NaN                         NaN
4552       ...                         NaN                         NaN
4553       ...                         NaN                         NaN
4554       ...                         NaN                         NaN
4555       ...                         NaN                         NaN
4556       ...                         NaN                         NaN
4557       ...                         NaN                         NaN
4558       ...                         NaN                         NaN
4559       ...                         NaN                         NaN
4560       ...                         NaN                         NaN
4561       ...                         NaN                         NaN
4562       ...                         NaN                         NaN
4563       ...                         NaN                         NaN
4564       ...                         NaN                         NaN
4565       ...                         NaN                         NaN
4566       ...                         NaN                         NaN
4567       ...                         NaN                         NaN
4568       ...                         NaN                         NaN
4569       ...                         NaN                         NaN
4570       ...                         NaN                         NaN
4571       ...                         NaN                         NaN

                     Assistant 1                 Assistant 2 RoundID MatchID  \
0          CRISTOPHE Henry (BEL)         REGO Gilberto (BRA)   201.0  1096.0
1       MATEUCCI Francisco (URU)       WARNKEN Alberto (CHI)   201.0  1090.0
2        VALLARINO Ricardo (URU)         BALWAY Thomas (FRA)   201.0  1093.0
3            LANGENUS Jean (BEL)    MATEUCCI Francisco (URU)   201.0  1098.0
4           SAUCEDO Ulises (BOL)  RADULESCU Constantin (ROU)   201.0  1085.0
5        APHESTEGUY Martin (URU)         LANGENUS Jean (BEL)   201.0  1095.0
6         LOMBARDI Domingo (URU)       WARNKEN Alberto (CHI)   201.0  1092.0
7        APHESTEGUY Martin (URU)         TEJADA Anibal (URU)   201.0  1097.0
8            BALWAY Thomas (FRA)       CRISTOPHE Henry (BEL)   201.0  1099.0
9         LOMBARDI Domingo (URU)         REGO Gilberto (BRA)   201.0  1094.0
10        ALONSO Gualberto (URU)  RADULESCU Constantin (ROU)   201.0  1086.0
11      MATEUCCI Francisco (URU)        VALLEJO Gaspar (MEX)   201.0  1091.0
12             MACIAS Jose (ARG)      LOMBARDI Domingo (URU)   201.0  1089.0
13         WARNKEN Alberto (CHI)        SAUCEDO Ulises (BOL)   201.0  1100.0
14         CRISTOPHE Henry (BEL)        SAUCEDO Ulises (BOL)   201.0  1084.0
15          VALLEJO Gaspar (MEX)       WARNKEN Alberto (CHI)   202.0  1088.0
16          SAUCEDO Ulises (BOL)         BALWAY Thomas (FRA)   202.0  1101.0
17          SAUCEDO Ulises (BOL)       CRISTOPHE Henry (BEL)   405.0  1087.0
18         CAIRONI Camillo (ITA)           BAERT Louis (BEL)   204.0  1104.0
19        DATTILO Generoso (ITA)          SASSI Otello (ITA)   204.0  1119.0
20           BERANEK Alois (AUT)   BONIVENTO Ferruccio (ITA)   204.0  1133.0
21          CARRARO Albino (ITA)     TURBIANI Giuseppe (ITA)   204.0  1102.0
22    MELANDRI Ermenegildo (ITA)         BAERT Jacques (FRA)   204.0  1108.0
23        CARMINATI Ettore (ITA)      IVANCSICS Mihaly (HUN)   204.0  1111.0
24          ESCARTIN Pedro (ESP)       ZENISEK Bohumil (TCH)   204.0  1135.0
25         SCARPI Giuseppe (ITA)     SCORZONI Raffaele (ITA)   204.0  1141.0
26         MOHAMED Youssuf (EGY)         BAERT Jacques (FRA)   418.0  1143.0
27             MERCET Rene (SUI)  VAN MOORSEL Johannes (NED)   418.0  1129.0
28         ZENISEK Bohumil (TCH)      IVANCSICS Mihaly (HUN)   418.0  1122.0
29          ESCARTIN Pedro (ESP)         BIRLEM Alfred (GER)   418.0  1106.0
...                          ...                         ...     ...     ...
4542                         NaN                         NaN     NaN     NaN
4543                         NaN                         NaN     NaN     NaN
4544                         NaN                         NaN     NaN     NaN
4545                         NaN                         NaN     NaN     NaN
4546                         NaN                         NaN     NaN     NaN
4547                         NaN                         NaN     NaN     NaN
4548                         NaN                         NaN     NaN     NaN
4549                         NaN                         NaN     NaN     NaN
4550                         NaN                         NaN     NaN     NaN
4551                         NaN                         NaN     NaN     NaN
4552                         NaN                         NaN     NaN     NaN
4553                         NaN                         NaN     NaN     NaN
4554                         NaN                         NaN     NaN     NaN
4555                         NaN                         NaN     NaN     NaN
4556                         NaN                         NaN     NaN     NaN
4557                         NaN                         NaN     NaN     NaN
4558                         NaN                         NaN     NaN     NaN
4559                         NaN                         NaN     NaN     NaN
4560                         NaN                         NaN     NaN     NaN
4561                         NaN                         NaN     NaN     NaN
4562                         NaN                         NaN     NaN     NaN
4563                         NaN                         NaN     NaN     NaN

(4572, 22)